
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/test-data/
# Ignore these project files
checkoutData.js
loginData.js
productData.js
products.spec.js
Test Plan — Swag Labs (SauceDemo)



